@charset "UTF-8";

body {
    text-align: center;
    background-color: #e6ffd6;
}

.subdiv {
	height: 125px;
	background-color: rgb(255, 255, 255);
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	padding:0;
}

img {
	margin-top:15px;
}

.submenu {
	display: inline;
	position: absolute;
	left :25px;
}

.error {
	display: inline;
    position:absolute;
	margin-top:0px;
	margin-bottom: 0px;
	right:600px;
	color: red;
}

h1 {
	font-size: 60px;
	display:inline;
	position: absolute;
	top:-27px;
	right:472px;
}

#logout {
	font-size:60px;
	font-weight:bold
}

.inputform {
  margin-top :25px;
  margin-bottom: 25px;
  text-transform:none;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.inputform:focus {
  border-color: rgb(128, 255, 128);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.selectnum {
  padding:1em 2em;
  display: inline;
  position:absolute;
  right: 680px;
  top: 350px;
}

.insertform {
  display: inline;
  position:absolute;
  top:440px;
  left:900px;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 2em 3em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.insertform:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.insertform:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.returnmenuform {
  display: inline;
  position:absolute;
  top:440px;
  right:850px;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 2em 3em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.returnmenuform:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.returnmenuform:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.lendcnt {
  display: inline;
  position:absolute;
  font-size: 25px;
  left:600px
}

span {
	font-size: 25px;
}

.insertformlogin {
  display: inline;
  position:absolute;
  top:400px;
  left:650px;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 2em 3em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.insertformlogin:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.insertformlogin:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}