@charset "UTF-8";

body {
    text-align: center;
    background-color: rgb(213, 255, 213);
}

header {
	background-color: var(--headbg-color);
	position: relative;
    z-index: 99;
}

h2 {
	display:inline;
	position: absolute;
	left:30px
}

h1 {
	font-size: 60px;
	display:inline;
	margin-bottom:50px;
}

#error {
	font-size: 20px;
	color: red;
}

.loginlabel {
	font-size:30px;
	display: inline;
}

#logout3 {
  margin-left: 1200px;
}

#loginbtn {
 font-size: 25px;
 padding: 1em 2.5em;
 margin-top: 40px;
 margin-bottom: 20px;
 margin-left: 20px;
 margin-right: 20px;
}

form {
	display:inline-block;
}

.inputform {
  text-transform:none;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.inputform:focus {
  border-color: rgb(128, 255, 128);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
input {
 margin-bottom: 25px;
 margin-left: 10px;
 margin-right: 10px;
 padding: 1em 2.5em;
 position: relative;
 font-size: 15px;
 text-transform: uppercase;
 text-decoration: none;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 500;
 color: black;
 background-color: white;
}

input:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

input:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

input::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

input::after {
 background-color: #fff;
}

input:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}

.btn {
 font-size: 25px;
 padding: 3em 2.5em;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 20px;
 margin-right: 20px;
}

.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    right:50px;
    width:50px;
    height: 30px;
}

.selectbox::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}
