@charset "UTF-8";

body {
    text-align: center;
    background-color: #e6ffd6;
}

header {
	background-color: var(--headbg-color);
	position: relative;
    z-index: 99;
}

table {
margin-left: 320px;
}

table {
 width: 60%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
 border: solid 3px #778ca3;
}

table th {
 padding: 10px;
 border: solid 1px #778ca3;
 background: #778ca3;
 color: #ffffff;
}

table td {
 padding: 10px;
 border: solid 1px #778ca3;
 background: #e9faf9;
}

.detailbtn {
	margin-top: 10px;
	margin-bottom: 10px
}

#searchbtn {
	display:inline;
	position:absolute;
	top:150px;
	left:950px;
}

#lendingcount {
	display:inline;
	position:absolute;
	left:530px;
	top:270px;
}

#loanbtn {
	position:absolute;
	top:380px;
	left:570px;
}

#loaninp {
	position:absolute;
	left:530px;
}
h2 {
	display:inline;
	position: absolute;
	left:30px
}

h1 {
	font-size: 60px;
	display:inline;
	margin-bottom:50px;
}

#error {
	font-size: 20px;
	color: red;
}

.loginlabel {
	font-size:30px;
	display: inline;
}

#logout3 {
  display:inline;
  position: absolute;
  padding: 1em 2.5em;
  right:20px;
  top:60px;
}

#loginbtn {
 font-size: 25px;
 padding: 1em 2.5em;
 margin-top: 40px;
 margin-bottom: 20px;
 margin-left: 20px;
 margin-right: 20px;
}

form {
	display:inline-block;
}

.inputformloan {
  text-transform:none;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;

}

.inputformloan:focus {
  border-color: rgb(128, 255, 128);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.inputform {
  text-transform:none;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.inputform:focus {
  border-color: rgb(128, 255, 128);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="submit"]{
    font-size: 20px;
    display:inline;
}

input {
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3em 2.5em;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

input:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

input:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};

.btn {
 font-size: 25px;
 padding: 3em 2.5em;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 20px;
 margin-right: 20px;
}

.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    right:50px;
    width:50px;
    height: 30px;
}

.selectbox::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}
